.icon-green {
  color: #4caf50 !important;
  vertical-align: middle;
}

.icon-red {
  color: #f44336 !important;
  vertical-align: middle;
}

.text-muted {
  color: #888;
  font-size: 0.85rem;
}

.green-btn {
  background-color: #4CAF50;
  color: black;
  font-weight: 500;
}

.green-btn:hover {
  background-color: #45a049;
}